:root {
    --mainfont: "Poppins", sans-serif;;
}

.container{
    max-width:1400px;
    margin: 0 auto;
}

body{
    background: #272044;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
        url("../images/ToriGate.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;
    
}

header h1 {
    font-family: var(--mainfont);
        font-size: 96px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0em;
}

header h2{
    font-family: var(--mainfont); 
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
}

header h3{
    font-family: Poppins;
        font-size: 24px;
        font-weight: 900;
        line-height: 1.5;
        letter-spacing: 5px;
        text-align: center;
        margin: 0;

}

header a{
    background: white;
    text-transform: uppercase;
    color: #272044;
    padding: 16px 32px;
    margin-top: 32px;
    display: inline-block;
    letter-spacing: 3px;
    text-align: center;
}